<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<div class="carousel">
    <div class="carousel__control">

            <!--<a href="#" data-index="0" class=""></a><a href="#" data-index="1" class=""></a><a href="#" data-index="2" class=""></a><a href="#" data-index="3" class="active"></a>-->
    </div>
    <div class="carousel__stage">
        <div class="spinner spinner--left">
            <div class="spinner__face js-active">
                <div class="content" data-type="iceland">
                    <div class="content__left">
                        <h1>ICELAND<br><span>EUROPE</span></h1>
                    </div>
                </div>
            </div>
            <div class="spinner__face">
                <div class="content" data-type="china">
                    <div class="content__left">
                        <h1>CHINA<br><span>ASIA</span></h1>
                    </div>
                </div>
            </div>
            <div class="spinner__face">
                <div class="content" data-type="usa">
                    <div class="content__left">
                        <h1>USA<br><span>NORTH AMERICA</span></h1>
                    </div>
                </div>
            </div>
            <div class="spinner__face">
                <div class="content" data-type="peru">
                    <div class="content__left">
                        <h1>PERU<br><span>SOUTH AMERICA</span></h1>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



<style>
    body,
    html {
        height: 100%;
        background: #110101;
        font-family: 'Roboto', sans-serif;
        overflow: hidden;
    }

    .slideshow {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
    .slideshow .slider {
        width: 100vw;
        height: 100vw;
        z-index: 2;
    }
    .slideshow .slider * {
        outline: none;
    }
    .slideshow .slider .item {
        height: 100vh;
        width: 100vw;
        position: relative;
        overflow: hidden;
        border: none;
    }
    .slideshow .slider .item .text {
        display: none;
    }
    .slideshow .slider .item img {
        min-width: 101%;
        min-height: 101%;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .slideshow .slick-dots {
        position: fixed;
        z-index: 100;
        width: 40px;
        height: auto;
        bottom: auto;
        top: 50%;
        right: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        left: auto;
        color: #fff;
        display: block;
    }
    .slideshow .slick-dots li {
        display: block;
        width: 100%;
        height: auto;
    }
    .slideshow .slick-dots li button {
        position: relative;
        width: 20px;
        height: 15px;
        text-align: center;
    }
    .slideshow .slick-dots li button:before {
        content: '';
        background: #fff;
        color: #fff;
        height: 2px;
        width: 20px;
        border-radius: 0;
        position: absolute;
        top: 50%;
        right: 0;
        left: auto;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        transition: all .3s ease-in-out;
        opacity: 0.6;
    }
    .slideshow .slick-dots li.slick-active button:before {
        width: 40px;
        opacity: 1;
    }
    .slideshow.slideshow-right {
        left: 0;
        z-index: 1;
        width: 50vw;
        pointer-events: none;
    }
    .slideshow.slideshow-right .slider {
        left: 0;
        position: absolute;
    }

    .slideshow-text {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 100;
        font-size: 80px;
        width: 100vw;
        text-align: center;
        color: #fff;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 100;
        pointer-events: none;
        text-transform: uppercase;
        letter-spacing: 20px;
        line-height: 0.8;
    }
    @media (max-width: 767px) {
        .slideshow-text {
            font-size: 40px;
        }
    }

    .the-most {
        position: fixed;
        z-index: 1;
        bottom: 0;
        left: 0;
        width: 50vw;
        max-width: 200px;
        padding: 10px;
    }
    .the-most img {
        max-width: 100%;
    }

</style>


<script>
    var activeIndex = 0;
    var limit = 0;
    var disabled = false;
    var $stage = void 0;
    var $controls = void 0;
    var canvas = false;

    var SPIN_FORWARD_CLASS = 'js-spin-fwd';
    var SPIN_BACKWARD_CLASS = 'js-spin-bwd';
    var DISABLE_TRANSITIONS_CLASS = 'js-transitions-disabled';
    var SPIN_DUR = 1000;

    var appendControls = function appendControls() {
        for (var i = 0; i < limit; i++) {
            $('.carousel__control').append('<a href="#" data-index="' + i + '"></a>');
        }
        var height = $('.carousel__control').children().last().outerHeight();

        $('.carousel__control').css('height', 30 + limit * height);
        $controls = $('.carousel__control').children();
        $controls.eq(activeIndex).addClass('active');
    };

    var setIndexes = function setIndexes() {
        $('.spinner').children().each(function (i, el) {
            $(el).attr('data-index', i);
            limit++;
        });
    };

    var duplicateSpinner = function duplicateSpinner() {
        var $el = $('.spinner').parent();
        var html = $('.spinner').parent().html();
        $el.append(html);
        $('.spinner').last().addClass('spinner--right');
        // $('.spinner--right').removeClass('spinner--left');
    };

    var paintFaces = function paintFaces() {
        $('.spinner__face').each(function (i, el) {
            var $el = $(el);
            var color = $(el).attr('data-bg');
            $el.children().css('backgroundImage', 'url(' + getBase64PixelByColor(color) + ')');
        });
    };

    // var getBase64PixelByColor = function getBase64PixelByColor(hex) {
    //     if (!canvas) {
    //         canvas = document.createElement('canvas');
    //         canvas.height = 1;
    //         canvas.width = 1;
    //     }
    //     if (canvas.getContext) {
    //         var ctx = canvas.getContext('2d');
    //         ctx.fillStyle = hex;
    //         ctx.fillRect(0, 0, 1, 1);
    //         return canvas.toDataURL();
    //     }
    //     return false;
    // };

    var prepareDom = function prepareDom() {
        setIndexes();
        paintFaces();
        duplicateSpinner();
        // appendControls();
    };

    var spin = function spin() {var inc = arguments.length > 0 && arguments[0] !== undefined ? arguments[0] : 1;
        if (disabled) return;
        if (!inc) return;
        activeIndex += inc;
        disabled = true;

        if (activeIndex >= limit) {
            activeIndex = 0;
        }

        if (activeIndex < 0) {
            activeIndex = limit - 1;
        }

        var $activeEls = $('.spinner__face.js-active');
        var $nextEls = $('.spinner__face[data-index=' + activeIndex + ']');
        $nextEls.addClass('js-next');

        if (inc > 0) {
            $stage.addClass(SPIN_FORWARD_CLASS);
        } else {
            $stage.addClass(SPIN_BACKWARD_CLASS);
        }

        $controls.removeClass('active');
        $controls.eq(activeIndex).addClass('active');

        setTimeout(function () {
            spinCallback(inc);
        }, SPIN_DUR, inc);
    };

    var spinCallback = function spinCallback(inc) {

        $('.js-active').removeClass('js-active');
        $('.js-next').removeClass('js-next').addClass('js-active');
        $stage.
        addClass(DISABLE_TRANSITIONS_CLASS).
        removeClass(SPIN_FORWARD_CLASS).
        removeClass(SPIN_BACKWARD_CLASS);

        $('.js-active').each(function (i, el) {
            var $el = $(el);
            $el.prependTo($el.parent());
        });
        setTimeout(function () {
            $stage.removeClass(DISABLE_TRANSITIONS_CLASS);
            disabled = false;
        }, 100);

    };

    var attachListeners = function attachListeners() {

        document.onkeyup = function (e) {
            switch (e.keyCode) {
                case 38:
                    spin(-1);
                    break;
                case 40:
                    spin(1);
                    break;}

        };

        $controls.on('click', function (e) {
            e.preventDefault();
            if (disabled) return;
            var $el = $(e.target);
            var toIndex = parseInt($el.attr('data-index'), 10);
            spin(toIndex - activeIndex);

        });
    };

    var assignEls = function assignEls() {
        $stage = $('.carousel__stage');
    };

    var init = function init() {
        assignEls();
        prepareDom();
        attachListeners();
    };


    $(function () {
        init();
    });
</script>