<div class="container">
    <div class="img-container" [@thumbState]="select === selectedIndex ? 'active' : 'inactive'"
         *ngFor="let i of sliderArray; let select = index;"
         [ngClass]="{'selected': select == selectedIndex, 'non': select != selectedIndex}">
        <img [src]="i.img" alt="{{i.alt}}">
        <div class="centered">
            <div class="left myDiv">
                <p class="vertical-text">WELCOME</p>
            </div>
            <div class="right">
                <p class="text-head">
                    WHY DO WE USE IT?
                </p>
            </div>
        </div>
    </div>
</div>

<div class="slider">
    <div class="slide-button-parent-container" *ngFor="let i of sliderArray; let x =index" (click)="selected(x)"
         (keypress)="keySelected(x)">
        <div class="select-box">
            <div class="slide-button" [ngClass]="{'slide-button-select': x == selectedIndex}">
            </div>
        </div>
    </div>
</div>