img
  max-width: 100%

.container
  height: 50%
  overflow: hidden

.non
  display: none

.img-container
  background-position: center
  will-change: opacity

.slide-button:hover, .slide-button-select
  width: 10px !important
  background-color: rgba(255, 255, 255, 1) !important
  pointer-events: none
  border-radius: 50%
  transition: background-color 0.4s, width 4s cubic-bezier(0.19, 1, 0.22, 1) !important

.slide-button
  width: 10px
  height: 10px
  background-color: rgba(255, 255, 255, 0.5)
  cursor: pointer
  position: absolute

.slider
  position: absolute
  top: 50%
  right: 10px
  opacity: 1
  min-width: 30px

.slide-button-parent-container
  position: relative
  margin: 22px 0
  min-height: 4px

.select-box
  min-height: 10px

.text-container
  height: 100vh
  justify-content: center
  display: flex
  align-items: center
  flex-direction: column

.page-text
  min-height: 373px
  width: 50%
  height: 100%
  opacity: 0
  font-weight: 300
  font-size: 90px
  color: white

.selected
  opacity: 1
  transition: 1s

.centered
  position: absolute
  top: 50%
  left: 57%
  transform: translate(-50%, -50%)
  width: 48%
  height: 42%
  background-color: #ffffff
  border: 5.999998728434244px solid #ffffff
  background-color: transparent

.right
  position: absolute
  left: 20%
  bottom: 50%
//.vertical-text
//  transform: rotate(90deg)
//  transform-origin: left top 0




.myDiv
  text-align: center

.vertical-text
  writing-mode: vertical-lr
  transform: rotate(180deg)
  font-size: 59px
  color: #5561ad
  font-family: "Segoe UI"
  font-weight: bold
  padding: 0 0 16px 0
  margin: 0

.text-head
  font-size: 50px
  color: #ffffff
  font-family: "Segoe UI"
  font-weight: bold

#weather_wrapper
  width: 400px
  margin: 100px auto

.weatherCard
  width: 400px
  height: 200px
  font-family: 'Open Sans'
  position: relative

.currentTemp
  //width: 220px
  height: 200px
  background: rgb(242, 242, 242)
  position: absolute
  top: 0
  left: 0

.currentWeather
  width: 180px
  height: 200px
  background: rgb(237, 237, 237)
  margin: 0
  position: absolute
  top: 0
  right: 0

.temp
  font-size: 80px
  text-align: center
  display: block
  font-weight: 300
  color: rgb(255, 255, 255)
  padding: 20px 0 0

.location
  color: rgb(255, 255, 255)
  text-align: center
  text-transform: uppercase
  font-weight: 700
  font-size: 30px
  display: block

.conditions
  font-family: weathericons
  font-size: 80px
  display: block
  padding: 20px 0 0
  text-align: center

.info
  width: 180px
  height: 50px
  position: absolute
  bottom: 0
  right: 0
  background: rgb(42, 178, 234)
  font-weight: 700
  color: rgb(255, 255, 255)
  text-align: center

.rain
  width: 50%
  position: absolute
  left: 10px
  word-spacing: 60px
  top: 3px
  &::before
    display: block
    content: '\f04e'
    font-family: weathericons
    font-size: 40px
    left: 6px
    top: -4px
    position: absolute

.wind
  width: 50%
  right: -10px
  position: absolute
  word-spacing: 60px
  top: 3px
  &::before
    display: block
    content: '\f050'
    font-family: weathericons
    font-size: 25px
    left: -10px
    position: absolute
    top: 5px