.navbar
  //width: 1920px
  height: 105px
  background-color: #32353e

.bg-dark
  background-color: #32353e!important

.navbar-nav .active
  width: 182px
  height: 52px
  box-shadow: 1.5px 2.598px 4px rgba(0,0,0,0.78)
  background-color: #1f2229
  text-align: center

a
  font-size: 20px
  color: #ffffff
  font-family: "Segoe UI"
  font-weight: bold

.navbar-brand
  font-size: 44px
  color: #ffffff
  font-family: "Myriad Pro"

@media (min-width: 576px)
 .navbar-expand-sm .navbar-nav .nav-link
  padding-right: 1.5rem
  padding-left: 1.5rem
