<div class="footer">
<div class="container">
    <div class="row">
        <div class="col-6" style="color: white">col 1</div>
        <div class="col-6" style="color: white">
            <div class="row">
col 2
            </div>
        </div>
    </div>
</div>
</div>