<div class="container">
  <div class="row mt-4">
    <div class="col-md-3 text-center active-tab">
      <a class="mb-4"><b>SERVICES</b></a>
    </div>
  </div>
  <div class="row mt-5 ml-5 mr-5 text-center text-white">
    <div class="col-sm background-lightgray pb-5">
      <div class="offset-2 col-8">
        <div class="col active-tab-white mt-4"> <b class="">LANDING PAGE</b></div>
        <h3 class="mt-3">20 000 amd</h3>
      </div>
      <p><i class="fa fa-check" aria-hidden="true"></i> Lorem ipsum is empty</p>
      <p><i class="fa fa-check" aria-hidden="true"></i> Lorem ipsum is empty</p>
      <p><i class="fa fa-check" aria-hidden="true"></i> Lorem ipsum is empty</p>
      <p><i class="fa fa-check" aria-hidden="true"></i> Lorem ipsum is empty</p>
      <p><i class="fa fa-check" aria-hidden="true"></i> Lorem ipsum is empty</p>
      <p><i class="fa fa-check" aria-hidden="true"></i> Lorem ipsum is empty</p>
      <p><i class="fa fa-check" aria-hidden="true"></i> Lorem ipsum is empty</p>
      <p><i class="fa fa-check" aria-hidden="true"></i> Lorem ipsum is empty</p>
    </div>
    <div class="col-sm background-gray pb-5">
      <div class="offset-2 col-8">
        <div class="col active-tab-white mt-4"> <b class="">LANDING PAGE</b></div>
        <h3 class="mt-3">20 000 amd</h3>
      </div>
      <p><i class="fa fa-check" aria-hidden="true"></i> Lorem ipsum is empty</p>
      <p><i class="fa fa-check" aria-hidden="true"></i> Lorem ipsum is empty</p>
      <p><i class="fa fa-check" aria-hidden="true"></i> Lorem ipsum is empty</p>
      <p><i class="fa fa-check" aria-hidden="true"></i> Lorem ipsum is empty</p>
      <p><i class="fa fa-check" aria-hidden="true"></i> Lorem ipsum is empty</p>
      <p><i class="fa fa-check" aria-hidden="true"></i> Lorem ipsum is empty</p>
      <p><i class="fa fa-check" aria-hidden="true"></i> Lorem ipsum is empty</p>
      <p><i class="fa fa-check" aria-hidden="true"></i> Lorem ipsum is empty</p>
    </div>
    <div class="col-sm background-darkgray pb-5">
      <div class="offset-2 col-8">
        <div class="col active-tab-white mt-4"> <b class="">LANDING PAGE</b></div>
        <h3 class="mt-3">20 000 amd</h3>
      </div>
      <p><i class="fa fa-check" aria-hidden="true"></i> Lorem ipsum is empty</p>
      <p><i class="fa fa-check" aria-hidden="true"></i> Lorem ipsum is empty</p>
      <p><i class="fa fa-check" aria-hidden="true"></i> Lorem ipsum is empty</p>
      <p><i class="fa fa-check" aria-hidden="true"></i> Lorem ipsum is empty</p>
      <p><i class="fa fa-check" aria-hidden="true"></i> Lorem ipsum is empty</p>
      <p><i class="fa fa-check" aria-hidden="true"></i> Lorem ipsum is empty</p>
      <p><i class="fa fa-check" aria-hidden="true"></i> Lorem ipsum is empty</p>
      <p><i class="fa fa-check" aria-hidden="true"></i> Lorem ipsum is empty</p>
    </div>
  </div>
  <div class="row ml-5 mr-5">
    <div class="col-sm"><button class="pull-right order-button"><b>ORDER</b></button></div>
    <div class="col-sm"><button class="pull-right order-button"><b>ORDER</b></button></div>
    <div class="col-sm"><button class="pull-right order-button"><b>ORDER</b></button></div>
  </div>
  <div class="row mt-4">
    <div class="offset-6 col-md-6 text-center active-tab">
      <a class="mb-4"><b>PORTFOLIO</b></a>
    </div>
  </div>
  <div class="row mt-5 ml-5 mr-5">
    <div class="col-sm background-darkgray ml-5 mr-5 mb-5">
      <div class="vertical-tabs">
        <button class="vertical-button">APP</button>
        <button class="vertical-button">REDESIGN</button>
        <button class="vertical-button">LANDING PAGE</button>
        <button class="vertical-button">ALL</button>
      </div>
      <div class="mb-0 page-number-div">01/40</div>
    </div>
    <div class="col-sm pb-5">
      <h2 class="text-blue">Why do we use it?</h2>
      <br />
      <p>
        t is a long established fact that a reader will be <br />
        distracted by the readable content of a page <br />
        when llooking at its layout. The point of using <br />
        Lorem Ipsum is that it has a more or less normal <br />
        distribution of letters, as opposed to using 'Con- <br />
        tent here, content here', making it look like read-<br />
        able English.
      </p>
      <button class="portfolio-button"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> VIEW FULL PORTFOLIO</button>
    </div>
  </div>
  <div class="row mt-5 ml-5 mr-5 text-center">
    <div class="col-sm background-gray ml-5 mr-5">
      <div class="ml-5 mr-5">
        <div class="mt-4 mb-4 ml-5 mr-5">
          <button class="white-button">NAME</button>
          <button class="white-button">E-MAIL</button>
          <button class="blue-button"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> ORDER</button>
        </div>
      </div>
    </div>
  </div>
</div>