.active-tab
  border-bottom: 3px solid #4F5777

.active-tab-white
  border-bottom: 3px solid white

.background-lightgray
  background-color: #59607D

.background-gray
  background-color: #4D536C

.background-darkgray
  background-color: #43495F

.text-blue
  color: #5561AD

.order-button
  width: 100px
  height: 40px
  background-color: transparent
  border: 2.5px solid #43495F

.page-number-div
  background-color: white
  height: 50px
  width: 50px
  font-weight: 600
  position: absolute
  bottom: 0
  right: 0
  text-align: center
  line-height: 50px

.portfolio-button
  width: 200px
  height: 40px
  color: #5561AD
  font-weight: 600
  font-size: 0.7em
  background-color: transparent
  border: 2.5px solid #5561AD

.vertical-button
  padding: 0px 0px 0px 0px
  text-align: center
  margin-left: 9px
  margin-right: 9px
  height: 40px
  border: none
  background-color: transparent
  background: none
  cursor: pointer
  color: #43495F
  font-size: 0.85em

.vertical-tabs
  background-color: white
  position: absolute
  width: 293px
  height: 40px
  -moz-transform: rotate(-90deg)
  -ms-transform: rotate(-90deg)
  -o-transform: rotate(-90deg)
  -webkit-transform: rotate(-90deg)
  margin-left: -142px
  text-align: center
  top: 126px

.white-button
  width: 180px
  margin-left: 20px
  margin-right: 20px
  height: 40px
  color: #4D536C
  background-color: white
  border: 2.5px solid #43495F

.blue-button
  width: 180px
  margin-left: 20px
  margin-right: 20px
  height: 45px
  border: none
  color: white
  background-color: #5561AD